<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Chuck Norris Jokes</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<!--    <h2>Chuck Norris Jokes!!!</h2>-->
<!--    <p th:text="${joke}">Joke</p>-->
    <div class="panel panel-primary">
        <div class="panel-heading">Chuck Norris Jokes!!!</div>
        <div class="panel-body">
            <p th:text="${joke}">Joke</p>
        </div>
    </div>

</body>
</html>